.login-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.css-u56xnn {
    color: #b9bbbe
}

.error-message {
    color: #f38688
}